* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  border: none;
}

body {
  width: 100%;
  background-color: black;
  color: var(--topMenuColor);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;

  --mainColor: #000000;
  --topMenuColor: #ffffff;
  --borderColor: #f4a261;
  --wrapperBackColor: lightcyan;
  --siteWidth: 1200px;
  --headerHeight: 200px;
  --footerHeight: 300px;
}
a {
  color: var(--topMenuColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--topMenuColor);
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.9rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}
.nodisplay {
  display: none;
}
div#wrapper {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: var(--headerHeight);
  color: var(--topMenuColor);
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  position: relative;
  background-image: url(images/);
}
header div#logo {
  height: 100%;
}
header div#logo img {
  height: 100%;
  padding-bottom: 4%;
}
header nav#top-menu {
  padding-right: 20px;
}
header nav#top-menu a {
  color: white;
  padding: 5px 15px;
  font-size: 1.3rem;
}
header nav#top-menu a:hover {
  text-decoration: underline;
}
header nav#hidden-menu {
  font-size: 2rem;
  color: var(--topMenuColor);
  display: none;
  cursor: pointer;
}
header nav#burger-menu {
  width: 100%;
  max-width: 320px;
  top: calc(var(--headerHeight) + 5px);
  position: absolute;
  right: 3px;
  background-color: var(--mainColor);
}
header nav#burger-menu a {
  padding-left: 5px;
  color: white;
  padding: 5px 15px;
  font-size: 1.3rem;
  display: block;
}
header nav#burger-menu a:hover {
  padding-left: 5px;
  background-color: rgb(82, 81, 81);
  text-decoration: underline;
}

main {
  background-color: rgb(0, 0, 0);
  flex-grow: 1;
}

footer {
  padding: 5px;
  background-color: var(--mainColor);
  color: var(--topMenuColor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 2%;
}
footer > div:nth-child(1) {
  width: 20%;
}
footer > div:nth-child(2) {
  width: 20%;
}
footer > div:nth-child(1) > a {
  display: block;
  display: flex;
  justify-content: left;
  margin-left: 40px;
  height: 100px;
}
footer > div:nth-child(1) > a > img:nth-child(1) {
  margin-top: 0px;
  height: 100%;
}
footer > div > a > img:hover {
  cursor: pointer;
}
footer > div:nth-child(1) > a:nth-child(2) {
  display: flex;
  justify-content: left;
  margin-left: 50px;
}
footer > div:nth-child(1) > a:nth-child(2) > img {
  margin-left: 10px;
}
footer > div:nth-child(1) > a:nth-child(2) > img:nth-child(1) {
  height: 30px;
}
footer > div:nth-child(1) > a > img:nth-child(2) {
  height: 30px;
}
footer > div:nth-child(1) > a > img:nth-child(3) {
  height: 30px;
}
footer > div:nth-child(1) > p {
  margin-left: 80px;
}
footer > div:nth-child(2) > a.menu {
  display: flex;
  flex-direction: column;
}
footer > div:nth-child(2) > a {
  font-size: 20px;
  clear: both;
  text-align: center;
  text-decoration: underline;
  display: block;
  margin-bottom: 20px;
  padding: 7px;
  transition: all 500ms;
}
footer > div:nth-child(2) > a:hover {
  padding-right: 45px;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  footer {
    flex-wrap: wrap;
  }
  footer > div {
    height: 33%;
  }
}
@media screen and (max-width: 768px) {
  header nav#top-menu {
    display: none;
  }
  header nav#hidden-menu {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  footer > div:nth-child(1) {
    display: none;
  }
  footer > div {
    height: 50%;
  }
}
